<h3> Welcome to my LightSaber.  Prepare to be amazed.<h3>
<p>
<form action="users/new" method="post">
	<input type="text" name="name" placeholder="name">
	<input type="password" name="password" placeholder="password">
	<input type="submit">
</form>
